In [ ]:
import pandas as pd
import numpy as np

# Basic information how to use Pandas and create own DataFrame

In [ ]:
create = pd.DataFrame({'Fruit': ['Apple', 'Orange', 'Bannana'], 
                                'Vegetable': ['Cucumber', 'Potato', 'Onion'],
                                 'Meat': ['Chcicken', 'Pork', 'Beef'],
                                 'Type of product':['Product A', 'Product B', 'Product C']},
                                index=['1', '2', '3'])

In [ ]:
create

     Fruit Vegetable      Meat Type of product
1    Apple  Cucumber  Chcicken       Product A
2   Orange    Potato      Pork       Product B
3  Bannana     Onion      Beef       Product C

 * *Comment* : Us the pd.DataFrame() constructor to generate these DataFrame objects

In [ ]:
create.iloc[0]

NameError: ignored

In [ ]:
create.iloc[:,0]

1      Apple
2     Orange
3    Bannana
Name: Fruit, dtype: object

In [ ]:
create.iloc[:,1]

1    Cucumber
2      Potato
3       Onion
Name: Vegetable, dtype: object

* *Comment* : Iloc is a function witch we can use to selecting data based on its numerical position in the data.

In [ ]:
create.set_index('Type of product')

                   Fruit Vegetable      Meat
Type of product
Product A          Apple  Cucumber  Chcicken
Product B         Orange    Potato      Pork
Product C        Bannana     Onion      Beef

* *Comment* : The set_index() method can be used to modify witch colum is a index

In [ ]:
create['Meat'] == 'Pork'

1    False
2     True
3    False
Name: Meat, dtype: bool

* *Comment*: By using the above syntax, we can ask questions based on conditions

# Loading data

In [ ]:
df = pd.read_csv('bmd.csv', sep=',')

* *Comment* : loading a csv file with a separator as ,

# Data base information

In [ ]:
df.shape

(169, 9)

DataFrame has 169 records split across 14 different columns.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            169 non-null    int64
 1   age           169 non-null    float64
 2   sex           169 non-null    object
 3   fracture      160 non-null    object
 4   weight_kg     169 non-null    float64
 5   height_cm     169 non-null    float64
 6   medication    169 non-null    object
 7   waiting_time  169 non-null    int64
 8   bmd           169 non-null    float64
dtypes: float64(4), int64(2), object(3)
memory usage: 12.0+ KB

* *Comment* :The dataset contains 10 named columns and 169 rows with 9 null values

# Basic data frame display

In [ ]:
df.head(10)

,id,age,sex,fracture,weight_kg,height_cm,medication,waiting_time,bmd
0,469,57.052768,F,NaN,64.0,155.5,Anticonvulsant,18,0.8793
1,8724,75.741225,F,NaN,78.0,162.0,No medication,56,0.7946
2,6736,70.778900,M,NaN,73.0,170.5,No medication,10,0.9067
3,24180,78.247175,F,NaN,60.0,148.0,No medication,14,0.7112
4,17072,54.191877,M,NaN,55.0,161.0,No medication,20,0.7909
5,3806,77.177752,M,NaN,65.0,168.0,No medication,7,0.7301
6,17106,56.180618,M,no fracture,77.0,159.0,No medication,26,1.0096
7,23834,49.916140,F,no fracture,59.0,150.0,No medication,9,0.7310
8,2454,68.408403,M,no fracture,64.0,167.0,Glucocorticoids,6,0.6893
9,2088,66.256648,M,no fracture,72.0,159.5,No medication,10,0.9466

* *Comment* : displaying the first 10 rows of the dataset

In [ ]:
df.tail(10)

,id,age,sex,fracture,weight_kg,height_cm,medication,waiting_time,bmd
159,5298,41.351200,M,fracture,45.0,159.5,No medication,6,0.7076
160,2797,84.721764,M,fracture,52.0,161.0,No medication,32,0.7085
161,2020,59.076082,M,fracture,64.0,170.0,No medication,20,0.7246
162,23824,50.276059,F,fracture,60.0,170.0,Anticonvulsant,48,0.7399
163,7192,67.252163,M,fracture,80.0,172.0,No medication,8,0.7745
164,21892,77.982543,M,fracture,74.0,164.0,No medication,49,0.7941
165,24140,50.285303,F,fracture,59.0,161.0,No medication,6,0.7971
166,6969,46.359721,M,fracture,67.0,169.0,No medication,10,0.8037
167,5505,54.788368,M,fracture,70.0,166.0,No medication,14,0.8072
168,71,69.994822,F,fracture,68.5,165.0,No medication,25,0.8664

* *Comment* : displaying the last 10 rows of the dataset

In [ ]:
df.sample(5)

,id,age,sex,fracture,weight_kg,height_cm,medication,waiting_time,bmd
48,197,69.728445,M,no fracture,84.0,164.5,Glucocorticoids,13,1.3624
79,8642,58.262215,F,no fracture,51.0,150.5,Anticonvulsant,9,0.5899
76,191,56.545818,M,no fracture,71.0,166.0,No medication,15,1.0839
2,6736,70.778900,M,NaN,73.0,170.5,No medication,10,0.9067
166,6969,46.359721,M,fracture,67.0,169.0,No medication,10,0.8037

* *Comment* : random data records

## ▶ How to check all columns name

In [ ]:
df.columns

Index(['id', 'age', 'sex', 'fracture', 'weight_kg', 'height_cm', 'medication',
       'waiting_time', 'bmd'],
      dtype='object')

## ▶ How to display a specific column as Series

In [ ]:
df.age

0      57.052768
1      75.741225
2      70.778900
3      78.247175
4      54.191877
         ...
164    77.982543
165    50.285303
166    46.359721
167    54.788368
168    69.994822
Name: age, Length: 169, dtype: float64

In [ ]:
df['age']

0      57.052768
1      75.741225
2      70.778900
3      78.247175
4      54.191877
         ...
164    77.982543
165    50.285303
166    46.359721
167    54.788368
168    69.994822
Name: age, Length: 169, dtype: float64

## ▶ How to display a specific column as DataFrame

In [ ]:
df[['age']]

           age
0    57.052768
1    75.741225
2    70.778900
3    78.247175
4    54.191877
..         ...
164  77.982543
165  50.285303
166  46.359721
167  54.788368
168  69.994822

[169 rows x 1 columns]

In [ ]:
df[['age','sex']]

           age sex
0    57.052768   F
1    75.741225   F
2    70.778900   M
3    78.247175   F
4    54.191877   M
..         ...  ..
164  77.982543   M
165  50.285303   F
166  46.359721   M
167  54.788368   M
168  69.994822   F

[169 rows x 2 columns]

## ▶ How to display specific indexes on a specific column

In [ ]:
df.loc[[0,10,15,20],['age']]

          age
0   57.052768
10  45.866582
15  66.825462
20  58.191329

## ▶ How to display rows with specific indexes (for 5 to 10 with out 10) and specific columns of a set (from 2 to 8)

In [ ]:
df.iloc[5:10,2:8]

  sex     fracture  weight_kg  height_cm       medication  waiting_time
5   M          NaN       65.0      168.0    No medication             7
6   M  no fracture       77.0      159.0    No medication            26
7   F  no fracture       59.0      150.0    No medication             9
8   M  no fracture       64.0      167.0  Glucocorticoids             6
9   M  no fracture       72.0      159.5    No medication            10

# Data operations

## ▪ Operations on incomplete values ​​(NaN)

* Sum of empty cells

In [ ]:
df.isna().sum()

id              0
age             0
sex             0
fracture        9
weight_kg       0
height_cm       0
medication      0
waiting_time    0
bmd             0
dtype: int64

*  Deletion of rows where at least one value was NaN

In [ ]:
df.dropna()

,id,age,sex,fracture,weight_kg,height_cm,medication,waiting_time,bmd
6,17106,56.180618,M,no fracture,77.0,159.0,No medication,26,1.0096
7,23834,49.916140,F,no fracture,59.0,150.0,No medication,9,0.7310
8,2454,68.408403,M,no fracture,64.0,167.0,Glucocorticoids,6,0.6893
9,2088,66.256648,M,no fracture,72.0,159.5,No medication,10,0.9466
10,5364,45.866582,M,no fracture,62.0,169.0,No medication,12,0.8015
...,...,...,...,...,...,...,...,...,...
164,21892,77.982543,M,fracture,74.0,164.0,No medication,49,0.7941
165,24140,50.285303,F,fracture,59.0,161.0,No medication,6,0.7971
166,6969,46.359721,M,fracture,67.0,169.0,No medication,10,0.8037
167,5505,54.788368,M,fracture,70.0,166.0,No medication,14,0.8072
168,71,69.994822,F,fracture,68.5,165.0,No medication,25,0.8664

* Fill empty cells with the given value Unknown

In [ ]:
df = df.fillna('Unknown').reset_index(drop=True)

* 
Checking for null values

In [ ]:
df.isna().sum()

id              0
age             0
sex             0
fracture        0
weight_kg       0
height_cm       0
medication      0
waiting_time    0
bmd             0
dtype: int64

## ▪ Data overwrite

In [ ]:
df['sex'].unique()

array(['F', 'M'], dtype=object)

* Create a new empty column to correct the value

In [ ]:
df['Corect_sex'] = 'empty'
for index, row in df.iterrows():
    if row['sex'] == 'F':
        df.loc[index,'Corect_sex'] = 'Female'
    elif row['sex'] == 'M' :
        df.loc[index,'Corect_sex'] = 'Male'

##▪ Rename a column

In [ ]:
df = df.rename(columns={"bmd" : "bone_mineral_density"})
df

,id,age,sex,fracture,weight_kg,height_cm,medication,waiting_time,bone_mineral_density,Corect_sex
0,469,57.052768,F,Unknown,64.0,155.5,Anticonvulsant,18,0.8793,Female
1,8724,75.741225,F,Unknown,78.0,162.0,No medication,56,0.7946,Female
2,6736,70.778900,M,Unknown,73.0,170.5,No medication,10,0.9067,Male
3,24180,78.247175,F,Unknown,60.0,148.0,No medication,14,0.7112,Female
4,17072,54.191877,M,Unknown,55.0,161.0,No medication,20,0.7909,Male
...,...,...,...,...,...,...,...,...,...,...
164,21892,77.982543,M,fracture,74.0,164.0,No medication,49,0.7941,Male
165,24140,50.285303,F,fracture,59.0,161.0,No medication,6,0.7971,Female
166,6969,46.359721,M,fracture,67.0,169.0,No medication,10,0.8037,Male
167,5505,54.788368,M,fracture,70.0,166.0,No medication,14,0.8072,Male
168,71,69.994822,F,fracture,68.5,165.0,No medication,25,0.8664,Female

# Discretization of variables

In [ ]:
df['age'].describe()

count    169.000000
mean      63.631531
std       12.356936
min       35.814058
25%       54.424211
50%       63.487837
75%       72.080558
max       88.753795
Name: age, dtype: float64

In [ ]:
bin_labels = ['Baby','Child','Teenager', 'Adult', 'Senior']
cut_bin = [0,1,12,19,60,100]

df['Age_category'] = pd.cut(df['age'], bins=cut_bin, labels=bin_labels)

df

,id,age,sex,fracture,weight_kg,height_cm,medication,waiting_time,bone_mineral_density,Corect_sex,Age_category
0,469,57.052768,F,Unknown,64.0,155.5,Anticonvulsant,18,0.8793,Female,Adult
1,8724,75.741225,F,Unknown,78.0,162.0,No medication,56,0.7946,Female,Senior
2,6736,70.778900,M,Unknown,73.0,170.5,No medication,10,0.9067,Male,Senior
3,24180,78.247175,F,Unknown,60.0,148.0,No medication,14,0.7112,Female,Senior
4,17072,54.191877,M,Unknown,55.0,161.0,No medication,20,0.7909,Male,Adult
...,...,...,...,...,...,...,...,...,...,...,...
164,21892,77.982543,M,fracture,74.0,164.0,No medication,49,0.7941,Male,Senior
165,24140,50.285303,F,fracture,59.0,161.0,No medication,6,0.7971,Female,Adult
166,6969,46.359721,M,fracture,67.0,169.0,No medication,10,0.8037,Male,Adult
167,5505,54.788368,M,fracture,70.0,166.0,No medication,14,0.8072,Male,Adult
168,71,69.994822,F,fracture,68.5,165.0,No medication,25,0.8664,Female,Senior

# Lambda function

In [ ]:
df['height_m'] = df['height_cm'].apply(lambda x: x/100)

df

,id,age,sex,fracture,weight_kg,height_cm,medication,waiting_time,bone_mineral_density,Corect_sex,Age_category,height_m
0,469,57.052768,F,Unknown,64.0,155.5,Anticonvulsant,18,0.8793,Female,Adult,1.555
1,8724,75.741225,F,Unknown,78.0,162.0,No medication,56,0.7946,Female,Senior,1.620
2,6736,70.778900,M,Unknown,73.0,170.5,No medication,10,0.9067,Male,Senior,1.705
3,24180,78.247175,F,Unknown,60.0,148.0,No medication,14,0.7112,Female,Senior,1.480
4,17072,54.191877,M,Unknown,55.0,161.0,No medication,20,0.7909,Male,Adult,1.610
...,...,...,...,...,...,...,...,...,...,...,...,...
164,21892,77.982543,M,fracture,74.0,164.0,No medication,49,0.7941,Male,Senior,1.640
165,24140,50.285303,F,fracture,59.0,161.0,No medication,6,0.7971,Female,Adult,1.610
166,6969,46.359721,M,fracture,67.0,169.0,No medication,10,0.8037,Male,Adult,1.690
167,5505,54.788368,M,fracture,70.0,166.0,No medication,14,0.8072,Male,Adult,1.660
168,71,69.994822,F,fracture,68.5,165.0,No medication,25,0.8664,Female,Senior,1.650

* *Comment* Lambda function is a very helpful tool for mathematical transformations performed on one variable

# Data analysis

In [ ]:
df['BMI'] = df['weight_kg']/(df['height_m']*df['height_m'])

df

,id,age,sex,fracture,weight_kg,height_cm,medication,waiting_time,bone_mineral_density,Corect_sex,Age_category,height_m,BMI
0,469,57.052768,F,Unknown,64.0,155.5,Anticonvulsant,18,0.8793,Female,Adult,1.555,26.467882
1,8724,75.741225,F,Unknown,78.0,162.0,No medication,56,0.7946,Female,Senior,1.620,29.721079
2,6736,70.778900,M,Unknown,73.0,170.5,No medication,10,0.9067,Male,Senior,1.705,25.111583
3,24180,78.247175,F,Unknown,60.0,148.0,No medication,14,0.7112,Female,Senior,1.480,27.392257
4,17072,54.191877,M,Unknown,55.0,161.0,No medication,20,0.7909,Male,Adult,1.610,21.218317
...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,21892,77.982543,M,fracture,74.0,164.0,No medication,49,0.7941,Male,Senior,1.640,27.513385
165,24140,50.285303,F,fracture,59.0,161.0,No medication,6,0.7971,Female,Adult,1.610,22.761468
166,6969,46.359721,M,fracture,67.0,169.0,No medication,10,0.8037,Male,Adult,1.690,23.458562
167,5505,54.788368,M,fracture,70.0,166.0,No medication,14,0.8072,Male,Adult,1.660,25.402816
168,71,69.994822,F,fracture,68.5,165.0,No medication,25,0.8664,Female,Senior,1.650,25.160698

In [ ]:
bin_labels = ['starvation','emaciation','underweight', 'correct_value', 'overweight', 'obesity_I', 'obesity_II', 'extreme_obesity']
cut_bin = [0,16,16.99,18.49,24.99,29.99,34.99,39.99,1000]

df['BMI_category'] = pd.cut(df['BMI'], bins=cut_bin, labels=bin_labels)

df

,id,age,sex,fracture,weight_kg,height_cm,medication,waiting_time,bone_mineral_density,Corect_sex,Age_category,height_m,BMI,BMI_category
0,469,57.052768,F,Unknown,64.0,155.5,Anticonvulsant,18,0.8793,Female,Adult,1.555,26.467882,overweight
1,8724,75.741225,F,Unknown,78.0,162.0,No medication,56,0.7946,Female,Senior,1.620,29.721079,overweight
2,6736,70.778900,M,Unknown,73.0,170.5,No medication,10,0.9067,Male,Senior,1.705,25.111583,overweight
3,24180,78.247175,F,Unknown,60.0,148.0,No medication,14,0.7112,Female,Senior,1.480,27.392257,overweight
4,17072,54.191877,M,Unknown,55.0,161.0,No medication,20,0.7909,Male,Adult,1.610,21.218317,correct_value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,21892,77.982543,M,fracture,74.0,164.0,No medication,49,0.7941,Male,Senior,1.640,27.513385,overweight
165,24140,50.285303,F,fracture,59.0,161.0,No medication,6,0.7971,Female,Adult,1.610,22.761468,correct_value
166,6969,46.359721,M,fracture,67.0,169.0,No medication,10,0.8037,Male,Adult,1.690,23.458562,correct_value
167,5505,54.788368,M,fracture,70.0,166.0,No medication,14,0.8072,Male,Adult,1.660,25.402816,overweight
168,71,69.994822,F,fracture,68.5,165.0,No medication,25,0.8664,Female,Senior,1.650,25.160698,overweight

In [ ]:
df[(df['medication']=='No medication') & (df['Age_category']=='Senior') & (df['BMI_category'] == 'correct_value')]

,id,age,sex,fracture,weight_kg,height_cm,medication,waiting_time,bone_mineral_density,Corect_sex,Age_category,height_m,BMI,BMI_category
5,3806,77.177752,M,Unknown,65.0,168.0,No medication,7,0.7301,Male,Senior,1.680,23.030045,correct_value
26,6732,70.198573,M,no fracture,68.0,167.0,No medication,5,1.0406,Male,Senior,1.670,24.382373,correct_value
29,5292,75.015480,M,no fracture,69.0,173.5,No medication,22,0.9364,Male,Senior,1.735,22.921875,correct_value
31,23867,70.028503,F,Unknown,59.0,155.0,No medication,17,0.8079,Female,Senior,1.550,24.557752,correct_value
40,55,73.230427,F,no fracture,52.0,153.0,No medication,89,0.7128,Female,Senior,1.530,22.213678,correct_value
44,23912,67.651081,F,no fracture,56.0,150.0,No medication,5,0.9262,Female,Senior,1.500,24.888889,correct_value
61,22162,74.178356,M,no fracture,60.0,166.0,No medication,18,0.6338,Male,Senior,1.660,21.773842,correct_value
62,9051,63.287288,F,no fracture,62.0,165.5,No medication,28,0.7384,Female,Senior,1.655,22.635792,correct_value
66,3090,84.787394,M,no fracture,68.0,165.0,No medication,11,1.2508,Male,Senior,1.650,24.977043,correct_value
88,23855,66.559218,F,no fracture,63.0,159.0,No medication,10,0.7805,Female,Senior,1.590,24.919900,correct_value
102,8876,64.065950,F,no fracture,60.0,165.0,No medication,11,0.7782,Female,Senior,1.650,22.038567,correct_value
105,23794,68.571308,F,no fracture,48.0,161.0,No medication,6,0.7096,Female,Senior,1.610,18.517804,correct_value
106,77,77.906400,F,no fracture,50.0,152.0,No medication,24,0.6122,Female,Senior,1.520,21.641274,correct_value
109,69,67.925528,F,no fracture,62.0,159.0,No medication,30,1.0176,Female,Senior,1.590,24.524346,correct_value
110,8592,68.068253,F,no fracture,49.0,144.0,No medication,51,0.7509,Female,Senior,1.440,23.630401,correct_value
122,434,69.213935,F,fracture,56.0,157.0,No medication,15,0.5285,Female,Senior,1.570,22.718974,correct_value
123,278,73.067598,M,fracture,54.0,166.0,No medication,31,0.5287,Male,Senior,1.660,19.596458,correct_value
124,2029,87.934942,M,fracture,57.0,156.5,No medication,69,0.5387,Male,Senior,1.565,23.272668,correct_value
126,382,81.087385,F,fracture,50.0,149.5,No medication,7,0.5515,Female,Senior,1.495,22.371114,correct_value
130,2458,82.407179,M,fracture,48.0,158.0,No medication,21,0.5721,Male,Senior,1.580,19.227688,correct_value
132,302,77.819623,F,fracture,48.0,151.0,No medication,32,0.5547,Female,Senior,1.510,21.051708,correct_value
135,24031,72.270137,F,fracture,50.0,154.0,No medication,47,0.6001,Female,Senior,1.540,21.082813,correct_value
136,24027,68.017748,F,fracture,58.0,153.0,No medication,8,0.6103,Female,Senior,1.530,24.776795,correct_value
137,442,88.024151,M,fracture,52.0,151.5,No medication,12,0.6204,Male,Senior,1.515,22.655731,correct_value
140,5503,70.947564,M,fracture,59.0,167.0,No medication,21,0.4407,Male,Senior,1.670,21.155294,correct_value
141,8938,74.796883,F,fracture,48.0,160.0,No medication,96,0.4852,Female,Senior,1.600,18.750000,correct_value
142,87,83.219823,F,fracture,51.0,150.0,No medication,9,0.5555,Female,Senior,1.500,22.666667,correct_value
143,17082,81.979559,M,fracture,66.0,166.0,No medication,23,0.5615,Male,Senior,1.660,23.951227,correct_value
144,2006,85.901595,M,fracture,57.0,163.0,No medication,24,0.6102,Male,Senior,1.630,21.453574,correct_value
145,4070,71.471721,M,fracture,62.0,177.0,No medication,6,0.6297,Male,Senior,1.770,19.789971,correct_value
147,2314,83.678357,M,fracture,56.0,168.0,No medication,7,0.6388,Male,Senior,1.680,19.841270,correct_value
148,292,85.576311,F,fracture,41.0,142.0,No medication,7,0.6409,Female,Senior,1.420,20.333267,correct_value
150,24182,68.683288,F,fracture,48.0,154.0,No medication,13,0.6448,Female,Senior,1.540,20.239501,correct_value
153,9028,61.644504,F,fracture,55.0,162.0,No medication,34,0.6880,Female,Senior,1.620,20.957171,correct_value
154,3079,66.804185,M,fracture,61.0,168.5,No medication,17,0.6882,Male,Senior,1.685,21.484736,correct_value
156,17104,63.441966,M,fracture,64.0,174.0,No medication,23,0.6899,Male,Senior,1.740,21.138856,correct_value
160,2797,84.721764,M,fracture,52.0,161.0,No medication,32,0.7085,Male,Senior,1.610,20.060954,correct_value

# Data Sorting

In [ ]:
df.groupby(['medication']).agg({'Corect_sex': ['value_counts']})

                             Corect_sex
                           value_counts
medication      Corect_sex
Anticonvulsant  Female                6
                Male                  3
Glucocorticoids Male                 13
                Female               11
No medication   Male                 70
                Female               66

* *Comment* 
More women use Anticonvulsant than men abut more men use Glucocorticoids than woman.

In [ ]:
df.groupby(['BMI_category']).agg({'age': ['min','mean','max']})

                       age
                       min       mean        max
BMI_category
starvation       57.581198  62.577289  67.573380
emaciation       76.944737  76.944737  76.944737
underweight      36.648311  46.500676  54.233904
correct_value    37.461995  65.460481  88.753795
overweight       35.814058  61.143426  83.847735
obesity_I        48.816871  65.290824  82.423159
obesity_II       59.461317  68.591948  81.479690
extreme_obesity        NaN        NaN        NaN

* *Comment*  In data base are no obese person with extreme obesity. Thanks to appropriate grouping, it is possible to observe what is the maximum, minimum and average age of people in a given BMI category

# DataFrame filtering in Pandas

In [ ]:
df[df.bone_mineral_density > 1]

,id,age,sex,fracture,weight_kg,height_cm,medication,waiting_time,bone_mineral_density,Corect_sex,Age_category,height_m,BMI,BMI_category
6,17106,56.180618,M,no fracture,77.0,159.0,No medication,26,1.0096,Male,Adult,1.590,30.457656,obesity_I
17,5288,40.232367,M,no fracture,66.0,165.0,No medication,8,1.0390,Male,Adult,1.650,24.242424,correct_value
26,6732,70.198573,M,no fracture,68.0,167.0,No medication,5,1.0406,Male,Senior,1.670,24.382373,correct_value
27,688,77.155020,M,no fracture,69.0,166.0,Glucocorticoids,9,1.0020,Male,Senior,1.660,25.039919,overweight
30,7776,54.912534,M,no fracture,69.0,168.0,No medication,20,1.0909,Male,Adult,1.680,24.447279,correct_value
34,17086,41.417615,M,no fracture,66.0,160.0,No medication,23,1.0003,Male,Adult,1.600,25.781250,overweight
35,812,67.924385,M,no fracture,80.0,170.0,No medication,13,1.0128,Male,Senior,1.700,27.681661,overweight
36,22723,60.831357,M,no fracture,70.0,159.5,No medication,8,1.0265,Male,Senior,1.595,27.515453,overweight
38,2789,69.653731,M,no fracture,80.0,164.0,No medication,21,1.0031,Male,Senior,1.640,29.744200,overweight
41,424,54.424211,F,no fracture,71.0,165.0,No medication,17,1.0266,Female,Adult,1.650,26.078972,overweight
48,197,69.728445,M,no fracture,84.0,164.5,Glucocorticoids,13,1.3624,Male,Senior,1.645,31.041842,obesity_I
49,5509,76.863915,M,no fracture,88.0,167.0,No medication,8,1.0015,Male,Senior,1.670,31.553659,obesity_I
50,2024,43.450712,M,no fracture,75.0,165.0,Glucocorticoids,16,1.0198,Male,Adult,1.650,27.548209,overweight
66,3090,84.787394,M,no fracture,68.0,165.0,No medication,11,1.2508,Male,Senior,1.650,24.977043,correct_value
76,191,56.545818,M,no fracture,71.0,166.0,No medication,15,1.0839,Male,Adult,1.660,25.765713,overweight
81,6924,58.335052,M,no fracture,91.0,176.0,No medication,24,1.1335,Male,Adult,1.760,29.377583,overweight
82,6696,39.254947,M,no fracture,76.0,173.5,No medication,6,1.0502,Male,Adult,1.735,25.247282,overweight
97,17140,60.221386,M,no fracture,94.0,166.0,No medication,18,1.0617,Male,Senior,1.660,34.112353,obesity_I
101,17178,63.024697,M,no fracture,71.0,161.0,No medication,12,1.0366,Male,Senior,1.610,27.390919,overweight
109,69,67.925528,F,no fracture,62.0,159.0,No medication,30,1.0176,Female,Senior,1.590,24.524346,correct_value
114,2306,57.569180,M,no fracture,74.0,176.0,Anticonvulsant,29,1.0287,Male,Adult,1.760,23.889463,correct_value

* *Comment* : By using a mask that will return True for rows with bone mineral densit above 1, and False for the rest.Then, we can use such a mask to filter entire rows from the DataFrame.